---
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import MainLayout from "../layouts/MainLayout.astro";
import Button from "../components/Button.astro";
---
<MainLayout>
    
    <h1 class="text-[#3C5A14] text-3xl font-bold mt-10">DIGITAL OPRYDNING - HVAD, HVOR, HVORDAN?</h1>

    <section class="max-w-3xl mx-auto md:max-w-4xl p-20 m-10 border-1 border-black sm:grid grid-cols-2 gap-10">


        <article>

    <div class="mb-10">

    <h2 class="text-[#3C5A14] text-2xl">Step 1</h2>
    <h3 class="text-[#3C5A14] text-xl">Ryd op i din smartphone</h3>
    <p class="mb-7">Fjern alle programmer, som du ikke har brugt i et stykke tid, eller som du kun har brugt få gange. Vær ærlig og modig! Slet alle de unødvendige, glemte, gamle apps og spil, som du har downloadet, men endnu ikke rigtig prøvet. Chancerne er, at du heller ikke på magisk vis begynder at bruge dem senere! De bruger energi, selv når de ikke er i brug, og kan forbruge hundredvis af megabyte under månedlige opdateringer. </p>
    <p class="mb-7">Husk at slette alle brugerkonti (inklusive e-mails) og tilknyttede data, som du oprettede, da du var 15 og ikke har haft adgang til i et årti eller mere! Du vil fremskynde din telefon og øge batterilevetiden. Det er altid værd at have så få apps som nødvendigt. </p>
    <p>Gennemgå dine billeder og videoer. Ved at slette de unødvendige plus eventuelle dubletter kan du frigøre titusvis af gigabyte værdifuld lagerplads. Se retningslinjerne for, hvordan du rydder op på din smartphone og tablet.</p>
</div>
<div class="mb-10">

    <h2 class="text-[#3C5A14] text-2xl">Step 2</h2>
    <h3 class="text-[#3C5A14] text-xl">Ryd op i din computer harddrive</h3>
    <p>Sorter din personlige computer og slet filer, der er dubletter eller er blevet ubrugelige. Gå gennem alle dine billeder, slet dubletter og slørede. Tjek videofilerne og slet sete eller unødvendige. Arkiver de vigtige filer. Vær forberedt på at finde virkelig fantastiske ting på din computer! Se retningslinjerne for, hvordan du rydder op på din computer og drev.
    </p>
</div>

</article>
<article>
    <div class="mb-10">

    <h2 class="text-[#3C5A14] text-2xl">Step 3</h2>
    <h3 class="text-[#3C5A14] text-xl">Ryd op i din indbakke</h3>
    <p>Filtrer e-mails efter den ældste, og arkiver dem. Afmeld nyhedsbreve, du ikke engang læser. Vælg lange samtaler, vælg den nyeste og slet alt andet! Søg efter almindelige navne, adresser og ord for at samle lignende e-mails, så du kan håndtere dem i massevis. Vær modig og klik på slet-knappen. Se retningslinjerne for, hvordan du rydder op i din postkasse!</p>
</div>
<div class="mb-5">
    <h2 class="text-[#3C5A14] text-2xl">Step 4</h2>
    <h3 class="text-[#3C5A14] text-xl">Skab nye vaner</h3>
    <p>Brug flere samarbejdspladser i stedet for at sende e-mails. Stop med at sende "ok" og "tak"-emails! Gem de vigtige filer i ét skyrum, så der er ingen grund til at opbevare den samme fil på hver computer. Tænk først, før du bakker. Opret mindre 'hurtigt indhold' og vær mere bevidst omkring dine videoer og billeder. Sørg for, at du kun sikkerhedskopierer de filer, du har brug for, og kun de billeder, du elsker. 
        Små ændringer i dine internetvaner, såsom at slukke for video under et virtuelt møde, reducere kvaliteten af ​​streamingtjenester, reducere spilletid, begrænse tid på sociale medier og afmelde nyhedsbreve og e-mail-lister, kan reducere dit miljøaftryk betydeligt!</p>
    </div>
</article>
    </section>
<div class="place-self-center knapfadeop">
    <Button variant="primary">Del dit resultat</Button>
</div>
</MainLayout>

<script>

import { inView } from "motion";

const knapfadeop = document.querySelector(".knapfadeop");
	
	inView(knapfadeop, () => {
	
        knapfadeop.classList.add("animate__animated", "animate__fadeInUp");
	
	}); 

</script>