---
import MainLayout from "../layouts/MainLayout.astro";
import Button from '../components/Button.astro';
import Link from '../components/Link.astro';
import Header from '../components/Header.astro';
import { Image } from 'astro:assets';
import thumbsup from "../assets/images/thumbsup.png";
import hero from "../assets/images/herohand.png";
import co2 from "../assets/images/co2icon.svg";
import group from "../assets/images/groupicon.svg";
import document from "../assets/images/documenticon.svg";
---
<MainLayout title="Titel">

	
	<section class="relative w-auto h-auto mb-10 overflow-hidden font-bold text-2xl text-[#3C5A14]">
		<img src={hero.src} alt="Herosection billede h-auto" class="w-full h-full object-cover" />
		<div class="absolute inset-0 flex items-center justify-center">
		<h1>DIGITAL OPRYDNINGSDAG</h1>
		<h2>15. MARTS 2025</h2>
	</div>
	</section>
	<section>
		<h2 class="text-[#3C5A14] text-2xl mb-7">Hvad er digital oprydningsdag?</h2>
		<div class=" max-w-4xl mx-auto grid md:grid-cols-2 ">
		<p class="mb-10">Digital Cleanup Day er en dag dedikeret til at rydde op i vores digitale liv, ligesom vi rydder op i vores fysiske miljø på World Cleanup Day.

			Nu i sit femte år og arrangeret af Let's Do It World, har Digital Cleanup Day til formål at øge bevidstheden om digital forurening og opfordre både enkeltpersoner og virksomheder til at rydde op og omstrukturere deres online tilstedeværelse.</p>
			
		<Button variant="primary">Giv dit bidrag!</Button>
	</div>
	</section>
	<p class="italic">Vidste du..?</p>
	<h2 class="text-[#3C5A14] text-2xl mb-7">Fakta om digital affald</h2>
	<section class=" max-w-5xl mx-auto grid sm:grid-cols-2 gap-5">
		<div class="border-1 border-black mb-5">
			<ul class="list-disc p-10">
				<li>Det kræver mere energi at udvinde Bitcoin, end hele New Zealand forbruger på et år! (a), (b)</li>
				<li>På blot ét år (2007) blev der skabt én zettabyte data globalt. I 2010 var dette tal fordoblet. I 2035 vil vi skabe mere end 2.000 zettabyte. For at printe én zettabyte data ville det kræve papir fra 20 billioner træer. Der er kun omkring 3,5 billioner træer tilbage på planeten, så det ville være umuligt. (a), (b)</li>
				<li>I 2022 blev omkring 70 millioner servere brugt til at lagre data. Hver enkelt forårsagede produktionen af 1–2 tons CO₂. Det år blev cirka 20 millioner af dem til e-affald. (a)</li>
				<li>99 % af al data er blevet skabt inden for de sidste 10 år. (a)</li>
			</ul>
		</div>
	<div class="border-1 border-black mb-5">
		<ul class="list-disc p-10">
			<li>Den ubegrænsede dataforbrug i dag kræver tre gange mere energi, end alle verdens solpaneler tilsammen kan producere! (a)</li>
			<li>Internettet udleder mere end 900 millioner tons CO₂ hvert år! (a), (b), (c), (d)</li>
			<li>90 % af al data tilgås aldrig igen efter tre måneder. (a)</li>
			<li>91 % af alle websider modtager ingen trafik fra Google. (a)</li>
			<li>320 milliarder e-mails sendes hver dag, og 62 billioner spam-e-mails hvert år = 20 millioner tons CO₂! (a), (b)</li>
			<li>En e-mail udleder i gennemsnit 4 g CO₂ = det samme som kulstoffodaftrykket af en tændt elpære i 6 minutter! (a), (b), (c)</li>
		</ul>
	</div>
	</section>
	<section class=" bg-[#3C5A14] mb-10 h-100 text-center">
<h2 class="pt-30 text-[#EEEDE5] text-4xl mb-5">STØT VORES ARBEJDE</h2>
<Button variant="secondary">Registrer dit bidrag</Button>
	</section>
	<section class="">
		<h2 class="text-[#3C5A14] text-2xl mb-7 text-center">DIGITAL OPRYDNINGSDAG I TAL</h2>
		<article class=" max-w-4xl mx-auto mb-10  grid sm:grid-cols-3">
		<div>
			<img src={group.src} alt="gruppe ikon" class="h-15"  />
			<h3> <span class="font-bold">1,184,747 </span><br>
				deltagere</h3>
		</div>
		<div>
			<img src={document.src} alt="document ikon" class="h-15"  />
			<h3> <span class="font-bold">14.5 M GB</span> <br>
				slettet data</h3>
		</div>
		<div>
			<img src={co2.src} alt="Co2 sky ikon" class="h-15"  />
			<h3> <span class="font-bold">3,625 tons Co2 </span> <br>
				produktion forbygget årligt</h3>
		</div>
	</article>

		<p>Siden 2020 har 175 forskellige lande og territorier deltaget i Digital Cleanup Day. Næsten 1,2 millioner mennesker har slettet over 14,5 millioner GB data, hvilket har forhindret den årlige produktion af omkring 3.625 tons CO2.</p>

	</section>
</MainLayout>