---
import MainLayout from "../layouts/MainLayout.astro";
import Button from "../components/Button.astro";
import Link from "../components/Link.astro";
import Header from "../components/Header.astro";
---

<MainLayout>
  <img src="" alt="" />
  <h2>RESSOURCER OG MATERIALER</h2>
  <div>
    <h3>Retningslinier</h3>
    <Link href="#Guidelines for individuals" />
    <Link href="#Guidelines for companies" />
    <Link href="#Guidelines for individuals" />
    <Link href="#Guidelines for individuals" />
  </div>
</MainLayout>
