---
import MainLayout from "../layouts/MainLayout.astro";
import Button from "../components/Button.astro";
import Link from "../components/Link.astro";
import Header from "../components/Header.astro";
---

<MainLayout>
  <Header>
    <img src="" alt="" />
  </Header>
  <section><h2>RESSOURCER OG MATERIALER</h2></section>
</MainLayout>
