---
import MainLayout from "../layouts/MainLayout.astro";
import Button from "../components/Button.astro";
import Link from "../components/Link.astro";
import Header from "../components/Header.astro";
---

<MainLayout>
  <img src="../assets/images/earth.webp" alt="earth" />
  <h2>RESSOURCER OG MATERIALER</h2>
  <div>
    <h3>Retningslinier</h3>
    <Link
      href="https://drive.google.com/file/d/136q24Z0iexgvnWk4Z_GIGAYBtV3D49l4/view"
      target="_blank"
    >
      Guidelines for individuals
    </Link>

    <Link
      href="https://drive.google.com/file/d/1ZUIJl_EztcJmYF7GVDFN1LMPRtqM_7nM/view"
      >Guidelines for Companies</Link
    >
    <Link
      href="https://drive.google.com/file/d/1dDw_YexhYGTxQIKMqcLMLnyekOTkTpJ0/view"
      >Guidelines for schools</Link
    >
    <Link
      href="https://drive.google.com/file/d/1MRiPX57JrppZY4gwtKeKeCc0_rZX040P/view"
    >
      Guidelines for municipalities
    </Link>
  </div>

  <div>
    <h3>Retningslinier</h3>
    <Link
      href="https://drive.google.com/file/d/136q24Z0iexgvnWk4Z_GIGAYBtV3D49l4/view"
      target="_blank"
    >
      Guidelines for individuals
    </Link>

    <Link
      href="https://drive.google.com/file/d/1ZUIJl_EztcJmYF7GVDFN1LMPRtqM_7nM/view"
      >Guidelines for Companies</Link
    >
    <Link
      href="https://drive.google.com/file/d/1dDw_YexhYGTxQIKMqcLMLnyekOTkTpJ0/view"
      >Guidelines for schools</Link
    >
    <Link
      href="https://drive.google.com/file/d/1MRiPX57JrppZY4gwtKeKeCc0_rZX040P/view"
    >
      Guidelines for municipalities
    </Link>
  </div>
  <div>
    <h3>Sådan gør du</h3>
    <Link
      href="https://drive.google.com/file/d/136q24Z0iexgvnWk4Z_GIGAYBtV3D49l4/view"
      target="_blank"
    >
      Guidelines for individuals
    </Link>

    <Link
      href="https://drive.google.com/file/d/1ZUIJl_EztcJmYF7GVDFN1LMPRtqM_7nM/view"
      >Guidelines for Companies</Link
    >
    <Link
      href="https://drive.google.com/file/d/1dDw_YexhYGTxQIKMqcLMLnyekOTkTpJ0/view"
      >Guidelines for schools</Link
    >
    <Link
      href="https://drive.google.com/file/d/1MRiPX57JrppZY4gwtKeKeCc0_rZX040P/view"
    >
      Guidelines for municipalities
    </Link>
  </div>
</MainLayout>
