---

import logo_hvid from "../assets/images/dcd_logo_hvid.png";
---
<div class="py-8 w-full bg-[#3C5A14] text-white">
    <div class="max-w-screen-xl mx-auto grid md:grid-cols-4 justify-items-center ">
        <section>
            <div id="logo" class="ml-[-10px] lg:ml-[-40px]">
                <img src={logo_hvid.src} alt="Digital Cleanup Day Logo" class="h-25"/>
             </div>
        </section>
        <section class="mb-10">Roosikrantsi 3, TALLINN 10119, Estonia Reg. code - 80562203</section>
        <div class="grid grid-cols-2">
        <section class="underline cursor-pointer">Blog<br>
                Marketing materials<br>
                Constitution<br>
                Join the movement</section>
        <section class="cursor-pointer text-right">Youtube<br>
            LinkedIn<br>
            Instagram<br>
            Facebook<br>
            Tiktok<br>
            X</section>
        </div>
    </div>
</div>
  